header
    div.container
        
        a(href="index.html").logotype
            img(src="images/logotype.svg", alt="РУСАГРО ТEX")

        menu
            a(href="projects.html") Проекты 
            a(href="about.html") О нас
            a(href="news.html") Новости
            a(href="contacts.html") Контакты

        div.mobile_menu
            include ../../images/menu.svg