mixin star(image, title)
    div.star
        img(src=image, alt=title)
        span= title

section.stars
    div.container

        div.text.mobile
            h2 Цифровые #[br]звезды
            span Наши проекты помогают агропредприятиям повысить эффективность, снизить издержки и обеспечить устойчивое развитие бизнеса.
            a(href="projects.html").button все проекты
        
        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +star('images/7.webp', 'Контроль движения минеральных удобрений')
                    div.text
                        h2 Цифровые #[br]звезды
                        span Наши проекты помогают агропредприятиям повысить эффективность, снизить издержки и обеспечить устойчивое развитие бизнеса.
                        a(href="projects.html").button все проекты
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/9.webp', 'Система формирования оптимального трека движения сельхоз техники')
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/8.webp', 'Контроль движения минеральных удобрений')
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/6.webp', 'Контроль движения минеральных удобрений')
                    div.progress: div.scale
                //- Дублирование слайдов
                div.swiper-slide
                    +star('images/7.webp', 'Контроль движения минеральных удобрений')
                    div.text
                        h2 Цифровые #[br]звезды
                        span Наши проекты помогают агропредприятиям повысить эффективность, снизить издержки и обеспечить устойчивое развитие бизнеса.
                        a(href="projects.html").button все проекты
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/9.webp', 'Система формирования оптимального трека движения сельхоз техники')
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/8.webp', 'Контроль движения минеральных удобрений')
                    div.progress: div.scale
                div.swiper-slide
                    +star('images/6.webp', 'Контроль движения минеральных удобрений')
                    div.progress: div.scale

        div.swiper-pagination
            div.arrow
                include ../../../images/swiper_pagination.svg
            div.arrow
                include ../../../images/swiper_pagination.svg