include ../../common/pug/_mixins.pug

section.news
    div.container

        div.list
            +article('images/3.webp', '1.11.2023', 'Стартовал приём заявок национальной премии за вклад в развитие технологий искусственного интеллекта «Лидеры ИИ»')
            +article('images/4.webp', '1.11.2023', 'Завершен первый этап проекта доработки и внедрения цифровой платформы (системы класса MES)')
            +article('images/5.webp', '1.11.2023', 'Русагро Тех подготовила задачу для участников международного конкурса AI Challenge')
            +article('images/6.webp', '1.11.2023', 'Русагро Тех поделились опытом цифровизации и внедрения искусственного интеллекта в проекты')
            +article('images/3.webp', '1.11.2023', 'Стартовал приём заявок национальной премии за вклад в развитие технологий искусственного интеллекта «Лидеры ИИ»')
            +article('images/4.webp', '1.11.2023', 'Завершен первый этап проекта доработки и внедрения цифровой платформы (системы класса MES)')
            +article('images/5.webp', '1.11.2023', 'Русагро Тех подготовила задачу для участников международного конкурса AI Challenge')
            +article('images/6.webp', '1.11.2023', 'Русагро Тех поделились опытом цифровизации и внедрения искусственного интеллекта в проекты')

        a.button смотреть еще