section.main
    div.container
        h1.observe.loop Лидеры #[br]#[span ИИ]
        p ИТ-инфраструктуру, разработку программного обеспечения агрохолдинга и реализацию проектов в области цифровизации.

    img(src="images/27.webp", alt="")