mixin stage(image, title, date)
    div.stage
        img(src=image, alt=title)
        div.text
            strong= title
            i= date
            span Русагро Тех подготовила задачу для участников международного конкурса AI Challenge
            button подробнее

section.stages
    div.container

        div.swiper-pagination
            div.arrow
                include ../../../images/swiper_pagination.svg
            div.arrow
                include ../../../images/swiper_pagination.svg

        div.swiper.tabs
            div.swiper-wrapper
                div.swiper-slide
                    +stage('images/3.webp', 'Этап 1', '1.11.2023 - 29.02.2024')
                div.swiper-slide
                    +stage('images/4.webp', 'Этап 2', '1.03.2024 - 30.11.2024')
                div.swiper-slide
                    +stage('images/5.webp', 'Этап 3', '1.12.2024 - 31.08.2025')
                div.swiper-slide
                    +stage('images/6.webp', 'Этап 4', '1.09.2025 - 30.11.2025')

        div.swiper.contents
            div.swiper-wrapper
                - for(var x = 1; x <= 4; x++ )
                    div.swiper-slide
                        img(src="images/28.webp", alt="")
                        div.text
                            h2 Система формирования оптимального трека движения сельхоз техники

                            strong «Русагро Тех» и АО «Жировой Комбинат» при поддержке РФРИТ приступили к доработке и внедрению цифровой платформы (класс систем MES) компании «ИндаСофт». Пилотными площадками проекта станут элеватор и маслоэкстракционный завод «Русагро-Балаково», а также жировой комбинат «Русагро-Саратов». Все три предприятия входят в Масложировое бизнес-направление группы «Русагро», выпускающее потребительские продукты популярных брендов.

                            p В рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса.
                            p В рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса. В рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса.рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса.
                            p В рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса.

                            strong «Русагро Тех» и АО «Жировой Комбинат» при поддержке РФРИТ приступили к доработке и внедрению цифровой платформы (класс систем MES) компании «ИндаСофт». Пилотными площадками проекта станут элеватор и маслоэкстракционный завод «Русагро-Балаково», а также жировой комбинат «Русагро-Саратов». Все три предприятия входят в Масложировое бизнес-направление группы «Русагро», выпускающее потребительские продукты популярных брендов.

                            button скрыть