section.stack
    div.container
        h2 Стек технологий

        div.advantages
            div.advantage
                img(src="images/stack_2.svg", alt="")
                span Математическое моделирование
            div.advantage
                img(src="images/stack_3.svg", alt="")
                span Беспилотные летательные аппараты
            div.advantage
                img(src="images/stack_4.svg", alt="")
                span Большие данные
            div.advantage
                img(src="images/stack_5.svg", alt="")
                span Оптимизационное моделирование