section.main
    div.container
        h1.observe.loop Наши #[br]#[span проекты]
        p Русагро Тех — дочерняя ИТ-компания ГК «Русагро», #[br]обеспечивающая безопасный рост и развитие бизнеса #[br]за счет внедрения ИТ-решений.

    img(src="images/33.webp", alt="")