section.brandbook
    div.container

        h2 Брендбук
        p В рамках перехода с зарубежных решений Factory Talk и Simatic WinCC на российскую платформу будут оптимизированы процессы управления предприятием, минимизированы риски сбоев и остановки производственного процесса
        a(href="index.html" download).button
            include ../../../images/download.svg
            span скачать

        img(src="images/logotype2.svg", alt="").logotype