section.conditions
    div.container

        div.title
            h2 Условия работы в компании

        div.text
            div.ai
                div.image
                    img(src="images/26.webp", alt="Условия работы в компании")
                div.description
                    strong Заботимся о твоем комфорте и твоей безопасности
                    p Русагро Тех – аккредитованная ИТ-компания, мы предлагаем конкурентную заработную плату, ДМС с расширенным пакетом по стоматологии и возможностью страхования родственников после прохождения испытательного срока, возможность работать удаленно или гибридно из любой точки России, скидки на абонементы в спортзал, корпоративные спортивные мероприятия
            div.advantages
                div.advantage
                    strong Поддерживаем микроклимат и атмосферу в команде
                    span Регулярно проводим мероприятия по сплочению команды, корпоративы и развиваем внутреннее комьюнити
                div.advantage
                    strong Культивируем и развиваем тебя и твои навыки
                    span Наши сотрудники активно посещают тематические ИТ-конференции и обучаются за счет компании
                div.advantage
                    strong Даем возможность раскрыться и вырасти так, как тебе хочется
                    span У нас множество проектов любого уровня сложности и вовлеченности, возможностей для роста как в одной специализации, так и в смежных областях.
                div.advantage
                    strong Создаем тепличные условия для твоего развития
                    span У нас ты найдешь программу наставничества и менторства