section.main
    div.container
        h1.observe.loop Русагро #[span Тех]
        p ИТ-инфраструктуру, разработку программного обеспечения агрохолдинга и реализацию проектов в области цифровизации.

    img(src="images/19.webp", alt="")